body {
    margin: 0;
    font-family: sans-serif, Helvetica;
}

header {
    background-color: greenyellow;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

h2 {
    font-size: 18pt;
}

header p {
    margin-top: 5px;
}

main {
    margin: 0 auto 10px auto;
    max-width: 700px;
}

#timer-container {
    opacity: 0;
    text-align: center;
    height: 50px;
    margin: 25px auto;
}

#timer-container.visible {
    opacity: 100%;
}

.strikethrough {
    text-decoration: line-through;
}

#start {
    margin: 0 auto;
    display: block;
    font-size: 2.5em;
    background-color: #880000;
    transition: background-color 0.2s;
    color: #fff;
    border-radius: 25px;
    padding: 3px 20px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    appearance: none;
    border: none;
    box-shadow: 6px 6px #444;
}

#start:hover {
    background-color: #aa0000;
    transition: background-color 0.2s;
}

#question-panel, #scoreboard {
    animation-duration: 0.5s;
    animation-name: slide-in;
}

/* "entry" animation ruleset */
@keyframes slide-in {
    from {
        opacity: 0;
        transform: translate(-100px);
    }

    to {
        opacity: 100%;
        transform: none;
    }
}

#question-panel ol {
    width: 460px;
}

#question-panel ol li {
    display: inline-block;
}

ol li button {
    appearance: none;
    padding: 10px 20px;
    margin: 15px 15px;
    background-color: #000088;
    transition: background-color 0.2s;
    color: white;
    border-radius: 25px;
    box-shadow: 6px 6px #444;
    width: 200px;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

ol li button:hover {
    background-color: #0000ee;
    transition: background-color 0.2s;
}

/* adding class="correct" or class="incorrect" changes colors of the corresponding button, indicating status of user response */
button.correct, button.correct:hover {
    background-color: #008800;
    transition: background-color 0.2s;
}

button.incorrect, button.incorrect:hover {
    background-color: #880000;
    text-decoration: line-through;
    transition: all 0.2s;
}

/* adding class="exit" to various elements via JS causes this transition to fire */
.exit {
    opacity: 0;
    transform: translate(-100px);
    transition: all 0.5s;
}

#time-out {
    background-color: #fff;
    color: #000;
    margin: 0 auto;
    text-align: center;
    animation-name: slide-in;
}

#score-button {
    appearance: none;
    padding: 10px 20px;
    margin: 15px 15px;
    background-color: #008800;
    transition: background-color 0.2s;
    color: white;
    border-radius: 25px;
    box-shadow: 6px 6px #444;
    width: 200px;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

#scoreboard ol {
    line-height: 1.5em;
    font-weight: bold;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    main, #start-panel, #question-panel, #time-out {
        margin: 0 auto 10px auto;
        max-width: 95vw;
    }

    button {
        max-width: 95vw;
    }

    #question-panel ol {
        width: 95vw;
        text-align: center;
    }
}